body{
    background-image: url('city.jpg'); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#bankContainer {
    margin-right: 5%;
    border-radius: 10px;
    padding: 10px;
    background-color: green;
    width: 10%;
    height: 100%;
    
  }
  #workContainer {
    
    margin-left: 5%;
    border-radius: 10px;
    padding: 10px;
    background-color: red;
    width: 10%;
    height: 100%;
    justify-content: center;


  }
  #laptopContainer {
    border-radius: 10px;
    padding: 30px;
    background-color: grey;
    height: 250px;
    width: 30%;
    justify-content: space-evenly;
  }

  #laptopPic{
    height: 100px;
    width: 100px;

  }

  .centered {
  position: absolute;
  top: 65%;
    
}

#bankText{
  position: relative;

  font-size: 0.6vw;
  max-height: 100%;
  max-width: 100%;

}

#payText{
  position: relative;

  font-size: 1vw;

}

  #laptopFeatureText {
    font-size: x-small;
  }

  #laptopChooser{
    position:absolute;
  }

  #laptopInfoDisplay{
    position:absolute;
    left: 48%;
  }

  #laptopBuyButton{
    position:relative;
    left: 80%;
  }

  .break-words {
    word-wrap: break-word;
    width: 40%;
  }

  #bankImage{
    position: relative; 
    max-height:90%; 
    max-width:100%;

  }

  
  #officeImage{
    position: relative; 

    
    max-height:90%; 
    max-width:100%;
  }
  #bankImage:hover{

    
    -webkit-filter: drop-shadow(2px 2px 0 white)
                drop-shadow(-2px 2px 0 white)
                drop-shadow(2px -2px 0 white)
                drop-shadow(-2px -2px 0 white);

    filter: drop-shadow(2px 2px 0 white)
            drop-shadow(-2px 2px 0 white)
            drop-shadow(2px -2px 0 white)
            drop-shadow(-2px -2px 0 white);
    transition: all 0.5s ease; 
  }

  #bankText{
    display: flex;
    justify-content: space-between;
  }

  #officeImage:hover{
    -webkit-filter: drop-shadow(2px 2px 0 white)
                drop-shadow(-2px 2px 0 white)
                drop-shadow(2px -2px 0 white)
                drop-shadow(-2px -2px 0 white);

    filter: drop-shadow(2px 2px 0 white)
            drop-shadow(-2px 2px 0 white)
            drop-shadow(2px -2px 0 white)
            drop-shadow(-2px -2px 0 white);
    transition: all 0.5s ease; 
  }

  #upper {
    position: relative;
    width:100%; 
    height: 30%;

    margin-bottom: 3%;
    margin-top: 3%;
    display: flex;
    justify-content: center;

  }
  
  #lower {
    position: absolute;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
  }

  .click-message {
    position: absolute;
    opacity: 1;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
    color: green;

    border: thick solid green;
    background-color: lightgreen;
    

  }
  
  .fade-out {
    opacity: 0;

  }

  #payText{
    display: block;
  }