body{
    background-image: url('city.jpg'); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}



#bankContainer {
    margin-right: 5%;
    border-radius: 10px;
    padding: 10px;
    width: 10%;
    height: 100%;
    justify-content: center;

    
  }
  #workContainer {
    
    margin-left: 5%;
    border-radius: 10px;
    padding: 10px;
    width: 10%;
    height: 100%;
    justify-content: center;


  }
  #laptopContainer {
    border-radius: 10px;
    padding: 30px;
    background-color: grey;
    height: 250px;
    width: 30%;
    justify-content: space-evenly;
  }

  #laptopPic{
    height: 100px;
    width: 100px;

  }

  .centered {
  position: absolute;
  top: 65%;
    
}

  @keyframes bounce {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
  }

  .bounce-animation {
    max-height: 5%;
    max-width: 5%;
    animation-name: bounce;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

#balanceText{
  position: relative;

  font-size: 1vw;
  margin-bottom: 6px;
  margin-top: -2px;

}

#loanText{
  position: relative;
  margin-top: 6px;
  font-size: 1vw;

}

#payText{
  position: relative;

  font-size: 1vw;

}

#getLoanButton{
  position: relative;
}
#payLoanButton{
  float:left;
  margin-right: 3%;

}



  #laptopFeatureText {
    font-size: x-small;
  }

  #laptopChooser{
    position:absolute;
  }

  #laptopInfoDisplay{
    position:absolute;
    left: 48%;
  }

  #laptopBuyButton{
    position:relative;
    left: 80%;
  }

  .break-words {
    word-wrap: break-word;
    width: 40%;
  }
  
  .restrictImage{
    position: relative; 

    
    max-height:90%; 
    max-width:100%;
  }
  #bankImage:hover{

    
    -webkit-filter: drop-shadow(2px 2px 0 white)
                drop-shadow(-2px 2px 0 white)
                drop-shadow(2px -2px 0 white)
                drop-shadow(-2px -2px 0 white);

    filter: drop-shadow(2px 2px 0 white)
            drop-shadow(-2px 2px 0 white)
            drop-shadow(2px -2px 0 white)
            drop-shadow(-2px -2px 0 white);
    transition: all 0.5s ease; 
  }


  #officeImage:hover{
    -webkit-filter: drop-shadow(2px 2px 0 white)
                drop-shadow(-2px 2px 0 white)
                drop-shadow(2px -2px 0 white)
                drop-shadow(-2px -2px 0 white);

    filter: drop-shadow(2px 2px 0 white)
            drop-shadow(-2px 2px 0 white)
            drop-shadow(2px -2px 0 white)
            drop-shadow(-2px -2px 0 white);
    transition: all 0.5s ease; 
  }

  #upper {
    position: relative;
    width:100%; 
    height: 30%;

    margin-bottom: 3%;
    margin-top: 3%;
    display: flex;
    justify-content: center;

  }
  
  #lower {
    position: absolute;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
  }

  .click-message {
    position: absolute;
    opacity: 1;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
    color: green;

    border: thick solid green;
    background-color: lightgreen;
    

  }
  
  .fade-out {
    opacity: 0;

  }

  #payText{
    display: block;
  }